body {
  background-color: hsla(0, 0%, 15%, 0.97);
  font-family: "Arial", serif;
  font-style: normal;
}

.todo-container {
  text-align: center;
}

.todo-h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 3em;
}

.add-button {
  background-color: hsla(120, 95%, 64%, 0.879);
  font-size: 1.9em;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 2px 5px;
  cursor: pointer;

}

.add-button:hover {
  background-color: rgb(1, 186, 1);
  transition: 0.30s ease;

}

input[type="text"] {
  font-size: 1.7em;
  color: hsla(0, 0%, 23%, 0.942);
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.853);
  transition: 0.35s ease;
}

input[type="text"]:focus-visible{
  background-color: rgb(234, 253, 212);
  transition: 0.30s ease;
  font-size: 1.80em;
}


ol {
  padding: 0;

}

li {
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.907);
  border: 2px solid rgb(81, 81, 81);
  margin: 1px;
  border-radius: 4px;
}

li:hover {
  background-color: hsl(0, 0%, 70%);
  transition: 0.35s ease;
}

.text {
  flex: 1;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  color: rgba(26, 26, 26, 0.81);
  font-weight: bold;
  padding: 10px;
}

.moveButton{
  font-size: 2em;
  background-color: hsla(98, 100%, 43%, 0.764);
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  border:2px solid hsla(0, 0%, 8%, 0.393);
  outline: none;

}

.moveButton:hover{
  background-color: hsla(98, 97%, 28%, 0.764);

}
.moveButton:active{
  background-color: #42a145;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.delete-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border:2px solid hsla(0, 0%, 8%, 0.393);
  font-size: 1.2em;
}

.delete-button:hover {
  background-color: rgb(135, 0, 0);
  transition: 0.35s ease;
}

.edit-button {
  background-color: rgb(0, 195, 255);
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border:2px solid hsla(0, 0%, 8%, 0.393);
  font-size: 1.2em;

}

.edit-button:hover{
  background-color: rgb(3, 143, 186);
  transition: 0.35s ease;

}


.save-button{
  cursor: pointer;
  background-color: rgb(0, 195, 255);
  border:2px solid hsla(0, 0%, 8%, 0.393);
  color: white;
}
.save-button:hover{
  background-color: rgb(0, 135, 176);
  transition: 0.35s ease;
}


.cancel-button{
  cursor: pointer;
  background-color: red;
  border:2px solid hsla(0, 0%, 8%, 0.393);
  color: white;

}

.cancel-button:hover{
  background-color: rgb(135, 0, 0);
  transition: 0.35s ease;
}
